# common 모듈의 resources 폴더에 있는 보안 파일 제외
common/src/main/resources/kafka-secrets.properties
common/src/main/resources/certs/

apllication-prd.yml
chat-connector.json
order-outbox-connector.json
payment-outbox-connector.json

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build/

bin/
gen/

bin
gen

kafka_2.12-3.7.2/

logs/

node_modules/

.vscode/launch.json
db/dump-productdb-202508141310.sql
chat-server/src/main/resources/application-prd.yml
catalog-service/src/main/resources/application-prd.yml
cart-service/src/main/resources/application-prd.yml
config-server/src/main/resources/application-prd.yml
coupon-service/src/main/resources/application-prd.yml
eureka-server/src/main/resources/application-prd.yml
gateway-server/src/main/resources/application-prd.yml
order-service/src/main/resources/application-prd.yml
pay-service/src/main/resources/application-prd.yml
user-service/src/main/resources/application-prd.yml
package-lock.json
package.json
frontend/webpack.config.base.js
frontend/webpack.config.base.js
common/src/main/resources/local_truststore.jks
common/src/main/resources/localhost.crt
common/src/main/resources/localhost.key
common/src/main/resources/localhost.p12


docker-compose-services-2-prd.yml
docker-compose-services-1-prd.yml
docker-compose-core-prd.yml
