*.yml
chat-connector.json
order-outbox-connector.json
payment-outbox-connector.json

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build/

bin/
gen/

bin
gen

kafka_2.12-3.7.2/

resources/keystore.p12
