*.yml
chat-connector.json
order-outbox-connector.json
payment-outbox-connector.json

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build/

bin/
gen/

bin
gen

kafka_2.12-3.7.2/

resources/keystore.p12
frontend/cert.pem
frontend/key.pem
resources/mywebserv.site_202504149248A.jks
resources/mywebserv.site_202504149248A.pfx
resources/allcrt.pem
resources/ca.pem
resources/crt.pem
resources/key.pem
resources/keystore
resources/truststore
resources/crtkey.pem
