server:
  port: 8183

kafka:
  url: http://localhost:29092

eureka:
  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${spring.application.instance_id:${random.value}}
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka

feign:
  user-url: http://localhost:8080

spring:
  application:
    name: coupon-service

  config:
     import: "optional:configserver:http://localhost:8888"

  datasource:
    url: jdbc:mysql://localhost:3306/coupondb?serverTimezone=Asia/Seoul
    username: 
    password: 
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        dialect : org.hibernate.dialect.MySQLDialect

logging:
  level:
    org:
      springframework: debug
      
              
