server:
  port: 8081

frontend:
    url: http://localhost:3000

kafka:
    url: http://localhost:29091


eureka:
    instance:
      prefer-ip-address: true
      instance-id: ${spring.application.name}:${spring.application.instance_id:${random.value}}
    client:
      register-with-eureka: true
      fetch-registry: true
      service-url:
        defaultZone: http://localhost:8761/eureka

openapi:
  service:
    title: chat service
    version: 0.1
    url: http:localhost:8081


    

spring:
    application:
      name: chat-service

    config:
      import: "optional:configserver:http://localhost:8888"

    datasource:
      url: jdbc:mysql://localhost:3306/testdb?serverTimezone=Asia/Seoul
      username: admin
      password: ysY2273!

    data:
      mongodb:
        client: mongodb://localhost:27017
        name: test
        #username:
        #password:
      redis:
        repositories:
          enabled: false
        host: localhost
        port: 6379

    app:
      jwtSecret: "mySecretKey123912738aopsgjnspkmndfsopkvajoirjg94gf2opfng2moknm"